:root {
  --color: darkgreen;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
}

html {
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: goldenrod;
}

.container {
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
}

svg text {
  font-size: calc(5vw + 2rem);
  stroke: var(--color);
  stroke-width: 2;
  animation: stroke 7s infinite alternate;
  -webkit-animation: stroke 5s infinite alternate;
}

@keyframes stroke {
  0% {
    fill: rgba(255, 255, 255, 0);
    stroke: var(--color);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
  }
  70% {
    fill: rgba(255, 255, 255, 0);
    stroke: var(--color);
  }
  80% {
    fill: rgba(255, 255, 255, 0);
    stroke: var(--color);
    stroke-width: 3;
  }
  100% {
    fill: var(--color);
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}